nav {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}
li.nav-item {
    cursor: pointer;
    margin-right: 1rem;
    padding: 0;
}
.collapsible {
    display: flex;
    align-items: center;
}
.form-group input, button {
    padding: 0.5rem;
    margin-top: 10px;
}

