<nav class="border fixed split-nav">
  <div class="nav-brand">
    <a href="/home" style="text-decoration: none;"><h1>Paper Notes</h1></a>
  </div>
  <div class="collapsible">
    <div class="collapsible-body">
      <ul class="inline">
        <li class="nav-item">
          <form [formGroup]="searchForm" (ngSubmit)="onSearchNotes()">
            <div class="form-group d-flex">
              <input type="text" formControlName="searchTerm" placeholder="Search notes here..." aria-label="Search" id="paperInputs1">
              <button type="submit" class="paper-btn btn-secondary-outline ml-4">Search</button>
            </div>
          </form>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link" (click)="onLogout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>