<div class="container">

    <app-create-note></app-create-note>

    <div class="child-borders">
        <div class="note-container" *ngFor="let note of notesList" (click)="editNote(note)">
            <h3 class="title">{{ note.title }}</h3>
            <p class="content">{{ note.content }}</p>
        </div>
        
    </div>

    <div class="note-edit-form" *ngIf="showForm">
        <form [formGroup]="noteForm">
          <input type="text" formControlName="title">
          <textarea formControlName="content"></textarea>
          <button type="button" (click)="saveNote()">Save</button>
        </form>
    </div>
</div>
