<div class="container">

    <div class="child-borders">
        <div class="note-container" *ngFor="let note of notesList" (click)="editNote(note)">
            <h3 class="title">{{ note.title }}</h3>
            <p class="content">{{ note.content }}</p>
        </div>
        
    </div>

    <div class="overlay" *ngIf="showForm">
        <div class="note-edit-form">
            <form [formGroup]="noteForm">
              <input class="input-block" type="text" formControlName="title">
              <textarea class="input-block" formControlName="content"></textarea>
              <button type="button" (click)="saveNote()">Save</button>
              <button type="button" class="delete-btn" (click)="deleteNote(note)">Delete</button>
            </form>
        </div>
    </div>
   
</div>
