<div class="container">

    <div class="child-borders">
        <div class="note-container" *ngFor="let note of filteredNotes">
            <h3 class="title">{{ note.title }}</h3>
            <p class="content">{{ note.content }}</p>
        </div>
    </div>

    <!-- <div class="overlay" *ngIf="showForm">
        <div class="note-edit-form">
            <form [formGroup]="noteForm">
                <input class="input-block" type="text" id="paperInputs3" formControlName="title">
                <textarea class="input-block" formControlName="content"></textarea>
                <button type="button" class="btn-success" (click)="saveNote()" style="margin-right: 10px;">Save</button>
                <button type="button" class="btn-warning" (click)="cancelNote()" style="margin-right: 10px;">Cancel</button>
                <button type="button" class="btn-danger" (click)="deleteNote(note)">Delete</button>
            </form>
        </div>
    </div> -->

   
</div>